<ion-header>
  <ion-navbar>
    <ion-title>
      Deal Tounsi
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-list>
    <ion-item *ngFor="let deal of alldeals">
      <ion-thumbnail item-left>
        <img src="{{ deal.thumbnail }}">
      </ion-thumbnail>
      <h2>{{ deal.post.post_title }}</h2>
      <p>{{ deal.post.post_excerpt }}</p>
      <button ion-button clear item-right>Voir</button>
    </ion-item>
  </ion-list> -->

  <ion-card *ngFor="let deal of alldeals">
    <img src="{{ deal.thumbnail }}"/>
    <ion-card-content>
      <ion-card-title>
        {{ deal.post.post_title }}
      </ion-card-title>
      <p>
        {{ deal.post.post_excerpt }}
      </p>
      <div class="actions">
          <div class="montant">
              <span class="apres">19 DT</span>
              <span class="avant">110 DT</span>
          </div>
          <div class="dejaacheter" item-left>
              26                                               
          </div>
          <button (click)="voirDeal()">
              Voir Deal
          </button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
